@{var pages = new List<string> { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" }; } 

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @foreach (var alphabet in pages)
        {
            <li class="page-item"><a class="page-link" asp-controller="Author" asp-action="All" asp-route-id="@alphabet"> @alphabet </a></li>
        }
    </ul>
</nav>