@using static TheReadingClub.ProjectConstants;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Reading Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Reading Club</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="All">All Authors</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="All">All Book</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="All">All Genres</a>
                        </li>
                        @if (User != null)
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Add">Add Author</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Add">Add Book</a>
                            </li>
                        }

                        @if (User.IsInRole(ModeratorRole) || User.IsInRole(AdminRole))
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="AuthorApproval">Pending Author Approval</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="BookApproval">Pending Book Approval</a>
                            </li>
                        }

                        @if (User.IsInRole(AdminRole))
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="PromoteUser">Admin</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
