@model UserByIdViewModel

<form method="post">
    <div class="form-group">
        <div>
            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <h5>@Model.FullName - Email: @Model.Email</h5>
                    <button type="submit" class="btn btn-danger">Promote to Moderator</button>
                </div>
            </div>
        </div>
    </div>
</form>