@model List<AuthorsApprovalViewModel>

<div class="container row">
    @if (Model == null)
    {
        <h1>Nothing to Approve!</h1>
    }
    else
    {
        @foreach (var author in Model)
        {
            <div class="card col-lg-2" style="width: 18rem;">
                <img class="card-img-top" src="@author.ImageURL" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        @author.FullName
                        <a class="btn btn-success" asp-controller="Moderator" asp-action="ApproveAuthor" asp-route-id="@author.Id" role="button">Approve</a>
                        <a class="btn btn-danger" asp-controller="Moderator" asp-action="DeclineAuthor" asp-route-id="@author.Id" role="button">Decline</a>
                    </p>
                </div>
            </div>
        }
    }
</div>